<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961676580890-b1un00mdmv5k76n171hn739r36v8is3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961676580890-b1un00mdmv5k76n171hn739r36v8is3d</string>
	<key>API_KEY</key>
	<string>AIzaSyD9uA3hYqZIujn0ODcrTWL8fMIEWA-xtFs</string>
	<key>GCM_SENDER_ID</key>
	<string>961676580890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weightApp</string>
	<key>PROJECT_ID</key>
	<string>weight-app-724bd</string>
	<key>STORAGE_BUCKET</key>
	<string>weight-app-724bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961676580890:ios:862b62c0746ace0142d9a3</string>
</dict>
</plist>